#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Globals

#define QUICK_TAP_MS 175
#define PRIOR_IDLE_MS 150
#define TIMEOUT_MS 25

&sk {
    release-after-ms = <900>;
    quick-release;
};

&sl { ignore-modifiers; };

&lt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
};

/ {
    behaviors {
        /* Sticky mod-tap for homerow mods. */

        mts: mod_tap_sticky {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            bindings = <&sk>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        caps {
            bindings = <&kp CAPS>;
            key-positions = <24 35>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
        };

        layer-lock {
            bindings = <&tog 1>;
            key-positions = <36 41>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
        };

        caret {
            bindings = <&kp CARET>;
            key-positions = <3 2>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            timeout-ms = <TIMEOUT_MS>;
        };

        times {
            bindings = <&kp STAR>;
            key-positions = <3 4>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            timeout-ms = <TIMEOUT_MS>;
        };

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <14 15>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            timeout-ms = <TIMEOUT_MS>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <15 16>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            timeout-ms = <TIMEOUT_MS>;
        };

        under {
            bindings = <&kp UNDER>;
            key-positions = <26 27>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            timeout-ms = <TIMEOUT_MS>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <27 28>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            timeout-ms = <TIMEOUT_MS>;
        };

        lbrc {
            bindings = <&kp LBRC>;
            key-positions = <7 8>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            timeout-ms = <TIMEOUT_MS>;
        };

        rbrc {
            bindings = <&kp RBRC>;
            key-positions = <8 9>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            timeout-ms = <TIMEOUT_MS>;
        };

        lpar {
            bindings = <&kp LPAR>;
            key-positions = <19 20>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            timeout-ms = <TIMEOUT_MS>;
        };

        rpar {
            bindings = <&kp RPAR>;
            key-positions = <20 21>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            timeout-ms = <TIMEOUT_MS>;
        };

        lbkt {
            bindings = <&kp LBKT>;
            key-positions = <31 32>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            timeout-ms = <TIMEOUT_MS>;
        };

        rbkt {
            bindings = <&kp RBKT>;
            key-positions = <32 33>;
            require-prior-idle-ms = <PRIOR_IDLE_MS>;
            timeout-ms = <TIMEOUT_MS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp GRAVE        &kp Q         &kp W        &kp F         &kp P        &kp B            &kp J  &kp L        &kp U         &kp Y        &kp SQT       &kp BSLH
&kp ESC          &mts LSHFT A  &mts LALT R  &mts LCTRL S  &mts LCMD T  &kp G            &kp M  &mts RGUI N  &mts RCTRL E  &mts RALT I  &mts RSHFT O  &kp SEMI
&kp LSHFT        &kp Z         &kp X        &kp C         &kp D        &kp V            &kp K  &kp H        &kp COMMA     &kp DOT      &kp FSLH      &kp RSHFT
&lt 1 LG(SPACE)  &kp SPACE     &kp TAB      &kp RET       &kp BSPC     &lt 1 RA(SPACE)
            >;
        };

        sym {
            bindings = <
&bt BT_NXT  &kp N1    &kp N2  &kp N3    &kp N4    &kp N5     &kp N6    &kp N7    &kp N8  &kp N9     &kp N0  &bt BT_CLR_ALL
&trans      &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans      &trans    &trans  &trans    &trans    &trans     &trans    &trans    &trans  &trans     &trans  &trans
&trans      &trans    &trans  &trans    &trans    &trans
            >;
        };
    };
};
